<div fxFill fxlayout="colum" fxlayoutAling="center start">
    <button mat-button color="primary" (click)="observableCreate()">Create/ observable</button>
    <button mat-button color="warn" (click)="from()">From</button>
    <button mat-button color="primary" (click)="ofClick()">Of</button>
    <button mat-button color="warn" (click)="interval()">Interval</button>
    <button mat-button color="primary" (click)="timer()">Timer</button>
    <button mat-button color="warn" (click)="unSubscribe()">UnSubscribe</button>
    <button mat-button color="warn" (click)="fromEvent()">From Event</button>

    
</div>