<div fxLayout="row" fxLayoutAlign="space-around center" fxFill>
  <div fxFlex="20">
    <mat-radio-group [(ngModel)]="option" fxLayout="column" fxLayoutAlign="center start">
      <mat-radio-button value="basic-creation">Basic creat</mat-radio-button>
      <br>
      <mat-radio-button value="operators">Operators</mat-radio-button>
      <br>
      <mat-radio-button value="async">Templates / Async</mat-radio-button>
      <br>
      <mat-radio-button value="error">Erro</mat-radio-button>
      <br>
      <mat-radio-button value="drag">Drag And Drop</mat-radio-button>
    </mat-radio-group>
  </div>

  <div fxFlex="70" fxLayout="column" fxLayoutAlign="center start">
      <ng-container [ngSwitch]="option">
        <app-basic-create *ngSwitchCase="'basic-creation'" fxFill></app-basic-create>
        <app-operators *ngSwitchCase="'operators'" fxFill></app-operators>
        <app-async *ngSwitchCase="'async'" fxFill></app-async>
        <app-error-handling *ngSwitchCase="'error'" fxFill></app-error-handling>
        <app-drag-and-drop *ngSwitchCase="'drag'" fxFill></app-drag-and-drop>
      </ng-container>
  </div> 
</div>